<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Antalya Otistik Bireyler Spor Kulübü Derneği</h3>
        <p>&nbsp;</p>
        <div class="social-links">
            <div class="fb-page"
                 data-href="https://www.facebook.com/antobder"
                 data-width="340"
                 data-hide-cover="false"
                 data-show-facepile="true"></div>
        </div>
        <div class="copyright">
            &copy;@DateTime.Now.Year <strong><span>ANTOBDER</span></strong>. Tüm hakları saklıdır.
        </div>
        <div class="credits">
            Site Yönetimi için <a href="mailto:mhasanunal@gmail.com/">Mail atınız.</a>
        </div>
    </div>
</footer>
<!-- End Footer -->
