@model ANTOBDER.Models.EF_MODELS.DynamicHTMLPage
@{
    ViewBag.Title = Model.PageName ;
}

<section class="info"> 
    <h2 style="justify-content:center">@Model.PageName</h2>
    <div class="">
        @Html.Raw(Model.RawHTML)
    </div>
</section>