
@{
    ViewBag.Title = "UnderConstruction";
}
<section class="info" style="justify-content:center">
    <h2>Bu sayfa henüz hazır değil :(</h2>

    <p>
        <img src="~/assets/img/underconstruction.png" />
    </p>

</section>